<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    @if (context.User.Identity?.IsAuthenticated != true)
                    {
                        <RedirectToLogin />
                    }
                    else
                    {
                        <div class="alert alert-danger">
                            <p>You are not authorized to access this resource.</p>
                        </div>
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <div class="d-flex flex-column align-center justify-center" style="height: 100vh;">
                    <MudIcon Icon="@Icons.Material.Filled.Error" Size="Size.Large" Color="Color.Error" />
                    <MudText Typo="Typo.h4" Class="mt-4">404 - Page Not Found</MudText>
                    <MudText Typo="Typo.body1" Class="mt-2">Sorry, we couldn't find the page you were looking for.</MudText>
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" Href="/" Class="mt-4">
                        Go Home
                    </MudButton>
                </div>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>